<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일자</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td>
            <a th:href="@{|/board/detail/${board.boardId}|}" th:text="${board.title}"></a>
        </td>
        <td th:text="${board.author}"></td>
        <td th:text="${board.regDt}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>